html,body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#main-container{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	z-index: 1;
	-webkit-overflow-scrolling : touch;
	position: relative;
}
#main-container::-webkit-scrollbar{
    display: none;
}
.top-nav{
	width: 100%;
	height: 2.5rem;
	background-color: rgb(212,60,51);
	position: fixed;
	top: 0;
	z-index: 99;
}
.top-nav>div{
	float: left;
}
.top-nav-left{
	width: 20%;
	height: 100%;
	text-align: center;
	color: white;
}
.top-nav-left>i{
	font-size: 1.5rem;
	line-height: 2.5rem;
}
.top-nav-mid{
	width: 60%;
	position: relative;
	height: 100%;
}
.input-frame{
	width: 80%;
	height: 50%;
	background-color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius:60px;
	text-align: center;
}
.top-nav-right{
	width: 20%;
	height: 100%;
	position: relative;
}
.top-nav-right p{
	height: 100%;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 1.5rem;
	line-height: 2.2rem;
}
.input-frame i,span{
	font-size: 0.6rem;
	line-height: 1.4rem;
	color: gray;
}
.music{
	width: 100%;
	height: auto;
	margin-top: 4.5rem;
	z-index: 9;
	display: inline-block;
	margin-left: 0;
}
.music-class{
	width: 100%;
	height: 2rem;
	background-color: white;
	position: fixed;
	top: 2.5rem;
	z-index: 99;
}
.music-class ul{
	width: 100%;
	height: 100%;
	padding: 0;
}
.music-class li{
	height: 100%;
	width: 33.3%;
	list-style: none;
	font-size: 0.7rem;
	float: left;
	text-align: center;
	cursor: pointer;
}
.music-class span{
	display: inline-block;
	height: 100%;
	line-height: 2.2rem;
	padding-left: 5px;
	padding-right: 5px;
	color: black;
	transition: all .5s;
}
.music-class li:nth-child(1)>span{
	border-bottom: 0.1rem solid red;
}
/*轮播样式插件*/

#scorllimg{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
#scorllimgs{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.project{
	 height: 4rem;
	 width: 100%;
	 border-bottom: 1px solid gray;
}
.project ul{
	width: 100%;
	height: 100%;
	padding: 0;
}
.project li{
	list-style: none;
	float: left;
	width: 25%;
	text-align: center;
	font-size: 1.5rem;
	color: rgb(212,60,51);
	line-height: 1.5rem;
}
.project i{
	margin-top: 0.5rem;
}
.music-list{
	width: 100%;
	height: 20rem;
	position: relative;
}
.music-list-title{
	height: 1rem;
	width: 100%;
	background-color: white;
	border-left: 2px solid red;
	font-size: 0.6rem;
	position: absolute;
	top: 1rem;
}
.music-list-title>span{
	margin-left: 0.5rem;
	line-height: 1.2rem;
	font-size: 0.7rem;
	color: black;
}
.songs-list{
	width: 100%;
	height: 12rem;
	position: absolute;
	top: 3rem;
}
.songs-list ul{
	width: 100%;
	height:8rem;
	padding: 0;
	margin-bottom: 0.2rem;
	position: relative;
}
.songs-list li{
	width:33%;
	height: 100%;
	display: inline-block;
	list-style: none;
}
.songs-list li:nth-child(1){
	float: left;
}
.songs-list li:nth-child(2){
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.songs-list li:nth-child(3){
	float: right;
}
.back-img{
	width: 100%;
	background-size: cover;
}
.radio-img{
	width: 100%;
	padding-bottom: 100%;
	background-size: cover;
}
.songs-describe{
	width: 100%;
	font-size: 0.6rem;	
	overflow: hidden;
}
.bottom-nav{
	height: 2.5rem;
	width: 100%;
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
}
.bottom-nav ul{
	width: 100%;
	height: 100%;
	color: darkgray;
	font-size: 0.5rem;
	padding: 0;
}
.bottom-nav li{
	height: 100%;
	width: 25%;
	float: left;
	text-align: center;
	line-height: 0rem;
	list-style: none;
}
.bottom-nav li:first-child{
	color: white;
}
.bottom-nav li>i{
	font-size: 1rem;
	margin-top: 0.4rem;
}
.bottom-nav li>span{
	position: relative;
	top: -0.2rem;
	font-size: 0.5rem;
}
.hiddens{
	height: 2rem;
	width: 100%;
}
.movies{
	width: 100%;
	height: 8rem;
	background-size: cover;
	position: relative;
}
.mov-text{
	width: 100%;
	height: 1rem;
	font-size: 0.6rem;
	position: absolute;
	top: 7rem;
	color: white;
	background-color: rgba(0,0,0,0.5);
	line-height:1rem;
	text-align:center
}
.chooses{
	width: calc(100%);
	height: auto;
	position: absolute;
	left: 0;
	transition: all .5s; 
}
.videos{
	width: 100%;
	height: calc(100% - 2rem);
	position: relative;
	left: calc(0);
	overflow-x: hidden;
	-webkit-overflow-scrolling : touch;
	
}
.videos::-webkit-scrollbar{
    display: none;
}
.video-demo{
	width: 100%;
	height: 8rem;
	position: relative;
	margin-bottom: .5rem;
	background-size: cover;
}
.video-demo>img{
	display: block;
	width: 100%;
	margin: 0;
}
.box{
	height: 100%;
	width: 100%;
	position: relative;
	
}
.imgscroll{
	height: auto;
	width: 100%;
}
.imgscrolls{
	height: auto;
	width: 100%;
}
.imgset{
	width: 100%;
	height: auto;
}
.imgset>img{
	width:100%;
}
.swiper-pagination-bullet-active{
	background-color: rgb(212,60,51) !important;
} 
.img-imformation{
	width: 100%;
	height: 1.5rem;
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	color: white;
	font-size: 0.6rem;
}
.img-head-infomation{
	position: absolute;
	width: 100%;
	height: 1.5rem;
	color: white;
}
.head-image{
	height: 100%;
	width: auto;
	float: left;
	line-height: 1.5rem;
	position: relative;
}
.head-image>img{
	display: inline-block;
	height: 1rem;
	width: 1rem;
	border-radius: .5rem;
	margin-left: 1rem;
}
.head-image>span{
	display: inline-block;
	font-size: 0.6rem;
	margin-left: .5rem;
	color: white;
}
.video-class{
	width: auto;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.6rem;
	float: right;
	margin-right: 1rem;
	margin-top: .25rem;
	border: 1px solid white;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: .6rem;
}
.loading-img{
	width: 100%;
	height: 8rem;
	margin-top: 4.5rem;
	background-image: url(../img/timg.gif);
	background-size: cover;
}
.radios{
	width: 100%;
	height: calc(100% - 6.5rem);
	margin-top: 4.5rem;
	position: relative;
	left: calc(0);
	overflow-x: hidden;
	-webkit-overflow-scrolling : touch;
}
.radios::-webkit-scrollbar{
    display: none;
}
.videos .video-demo:nth-child(1){
	margin-top: 4.5rem;
}
.radio-class{
	height: auto;
	font-size: 0.7rem;
	color: red;
	padding: 0;
	margin-bottom: 1.5rem;
}
.radio-class li{
	width: 50%;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	list-style: none;
	float: left;
}
.payproduct{
	width: 100%;
	padding: 0;
	padding-bottom: 40%;
	position: relative;
}
.payproduct p{
	height: 1rem;
	font-size: .6rem;
	line-height: 1rem;
	margin-bottom: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.payproduct p:nth-child(1){
	overflow: hidden;
	height: 2rem;
	font-size: .8rem;
	line-height: 2rem;
	margin-bottom: 0;
}
.payproduct li{
	list-style: none;
}
.product-img{
	width:calc(100% / 3);
	float: left;
}
.product-information{
	width: calc(100% /1.8);
	height: auto;
	float: right;
}
.radiose{
	height: auto;
}
.radioses{
	height: 10rem;
	margin: 0;
}
.boot{
	height: 6.5rem;
}
.video-list-title{
	height: 1rem;
	width: 100%;
	background-color: white;
	border-left: 2px solid red;
	font-size: 0.6rem;
	margin-bottom: 1rem;
}
.video-list-title>p{
	height: 1rem;
	width: 50%;
	line-height: .25rem;
	margin-left: .5rem;
	color: black;
}
.loading-gif{
	width: 5%;
	display: block;
	margin: auto;
	font-size: .6rem;
	margin-top: -1rem;
}
.video-title{
	margin: 0;
}
.video-list{
	height: 9rem;
}
.nav-bottom{
	height: 100%;
	width: 100%;
	position: relative;
}
.nav-bottom-content{
	width: 100%;
	height: 100%;
}
.add{
	height: 100%;
	width: 100%;
	position: relative;
}
.homePage{
	height: 100%;
	width: 100%;
	transition: all 1s;
}
.secondPage{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	transition: all .5s;
	transform: translateX(1000%);
}
.moveHomePage{
	animation: moves .5s;
	animation-fill-mode: forwards;
}
@keyframes moves{
	from{transform: translateX(0);}
	to{transform: translateX(-100%);}
}
.moveSecondPage{
	animation: movesi .5s;
	animation-fill-mode: forwards;
}
@keyframes movesi{
	from{transform: translateX(100%);}
	to{transform: translateX(0);}
}
.backmoves{
	animation: backmove .5s;
	animation-fill-mode: forwards;
}
@keyframes backmove{
	from{transform: translateX(-100%);}
	to{transform: translateX(0);}
}
.backmovesi{
	animation: backmov .5s;
	animation-fill-mode: forwards;
}
@keyframes backmov{
	from{transform: translateX(0);}
	to{transform: translateX(100%);}
}
.secondPageHead{
	width: 100%;
	height: 2.5rem;
	background-color: rgb(212,60,51);
	position: fixed;
}
.secondPageHead ul{
	padding: 0;
	height: 100%;
	width: 100%;
}
.secondPageHead li{
	list-style: none;
	float: left;
	width: calc(100% / 3);
	height: 100%;
}
.secondPageHead li:nth-child(1)>span{
	padding-left: 1rem;
	font-size: 2.5rem;
	color: white;
	line-height: 2.5rem;
}
.secondPageHead li:nth-child(2){
	text-align: center;
	font-size: .7rem;
	color: white;
	line-height: 2.5rem;
}
.secondPageHead li:nth-child(3)>span{
	float: right;
	padding-right: 1rem;
	font-size: 1.5rem;
	color: white;
	line-height: 2.5rem;
}
.scdpageimg{
	margin-bottom: 1rem;
}
.secondPage-box{
	height: calc(100% - 2.5rem);
	position: relative;
	margin-top: 2.5rem;
	padding-bottom: 2rem;
	width: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling : touch;
}
.secondPage-box::-webkit-scrollbar{
    display: none;
}
.list-img{
	background-color: lightgray;
}
.musiclist{
	height: 2rem;
	width: 100%;
	padding: 0;
}
.musiclist li{
	float: left;
	list-style: none;
	height: 100%;
}
.musiclist li:nth-child(1){
	width: 15%;
	text-align: center;
	line-height: 2rem;
}
.musiclist li:nth-child(2){
	width: 75%;
	border-bottom: 1px solid darkgray;
}
.musiclist li:nth-child(3){
	width: 10%;
	color: darkgray;
	font-size: 1rem;
	padding-right: .5rem;
	line-height: 2rem;
	border-bottom: 1px solid darkgray;
}
.musiclist p{
	margin: 0;
	font-size: .6rem;
	padding-left: .5rem;
}
.musiclist p:nth-child(1){
	margin: 0;
	font-size: .7rem;
}
.musiclist p:nth-child(2){
	color: darkgray;
}
.find-music{
	height: 100%;
	width: 100%;
}
.addPage{
	width: 100%;
	height: 100%;
	margin-top: -2.5rem;
	display: none;
}
.addPages{
	height: calc(100% - 2.5rem);
	position: relative;
	margin-top: 2.5rem;
	padding-bottom: 2rem;
	width: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling : touch;
}
.addPages::-webkit-scrollbar{
    display: none;
}
.colorset{
	font-size: 1.5rem;
	color: red;
	background-color: white;
}
.add-p{
	width: 60% !important;
}
.add-p p{
	font-size: .8rem !important;
	color: black;
	line-height: 2rem !important;
}
.add-num{
	text-align: right;
	width: 25% !important;
	font-size: .7rem !important;
}
.my-list ul{
	margin: 0;
}
.margin-set{
	margin-top: 2.5rem;
}
.coulms{
	padding: 0;
	height: 5.5rem !important;
}
.coulms li{
	height: 5.5rem !important;
	padding: 0;
	margin: 0;
	list-style: none;
	float: right !important;
}
.coulms li:nth-child(1){
	width: 30%;
}.coulms li>p{
	height: 100%;
	font-size: .6rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.coulms li:nth-child(2){
	width: 70%;
	margin-right: 30%;
}
